<%- include('./includes/header') %>
<script src="/socket.io/socket.io.js"></script>
<body>
    <div class="card border-secondary mb-3" style="height: 600px;">
        <div class="card-header">
            <div class="clearfix float">
                <div class="image-cropper">
                    <img src="/uploads/<%= recip.p1 %>" onerror="this.onerror=null; this.src='/img/image-not-available.jpg'" class="image-chat" width=100>
                </div>
                <h1 ><%= recip.fname %></h1>
                <p id="recipient" style="visibility: hidden;"><%= recip.username %></p>
            </div>
        </div>
        <div class="card-body chat">
            <ul id="messages"></ul>
        </div>
    </div>
    <form action="">
        <button class="btn btn-primary" style="float: right;"><i class="fas fa-paper-plane"></i></button>
        <div style="overflow: hidden; padding-right: .5em;">
            <input id="txt" autocomplete="off" class="form-control" type="text" style="width: 100%;" />
        </div>
    </form>
    <p id="username" style="visibility: hidden;"><%= user.username %></p>
</body>
<script>
    $(function () {
        var socket = io();
        var user = document.querySelector("#username").innerHTML;
        var recip = document.querySelector("#recipient").innerHTML;

        // submit text message without reload/refresh the page
        $('form').submit(function (e) {
            e.preventDefault(); // prevents page reloading
            socket.emit('chat_message', $('#txt').val(), user, recip);
            $('#txt').val('');
            return false;
        });

        // append the chat text message
        socket.on('chat_message', function (msg, username, recipient) {
            if (user == username) {
                 $('#messages').append('<li><div class="me">' + msg + '</div></li><div style="clear: both" />');
            } else {
                $('#messages').append('<li><div class="you">' + msg + '</div></li><div style="clear: both" />');
            }
        });

        // append text if someone is online
        socket.on('is_online', function (username) {
            if (username == user && recipient == user) {
                $('#messages').prepend($('<li>').html(username));
            }
        });

        // ask username
        socket.emit('join', user, recip);
        socket.emit('recipient', recip);
        socket.emit('focus');

        socket.on('focus', function () {
            $(".messages").animate({ scrollTop: $('.messages').prop("scrollHeight") }, 1000);
        })
    });
</script>