<%- include('./includes/header') %>
<% function calcRating(x) { %>
    <% return (1 / (1 + Math.exp(-(0.01 * x))) * 100); %>
<% } %>
<div id="here"></div>
<div class="row mt-5">
    <div class="col-md-10 m-auto">
        <div class="card card-body jumbotron">
            <h1 class="text-center mb-5">
                <i class="fas fa-user"></i> <%= user.fname + ', ' + age %>
                <div class="stars-outer">
                    <div class="stars-inner"></div>
                </div>
                <p hidden class="card-text rating"><%= calcRating(user.rating) %></p>
            </h1>
            <%- include('./partials/messages') %>
            <div class="row">
                <div class="column">
                    <div class="image-btn-cont">
                        <% if (flag != 1) { %>
                            <a href="/photos/upload_photos?edit=1"><i class="fas fa-pen-square pen-photo"></i></a>
                        <% } %>
                        <% let pages = [user.p1, user.p2, user.p3, user.p4, user.p5]; %>
                        <% let j = user.amount; %>
                        <% if (pages[page - 1] != '') { %>
                            <% let photo = pages[page - 1]; %>
                            <img src="/uploads/<%= photo %>" id="pimg" class="<%= (j == 1) ? 'rounded' : ''%>" onerror="this.onerror=null; this.src='/img/image-not-available.jpg'" style="width:100%">
                        <% } %>
                    </div>
                    <h3>
                        <% if (j > 1) { %>
                                <div class="container-page">
                                <% for (i = 1; i <= j; i++) { %>
                                    <a href="<%= flag == 1 ? '?user=' + user.username + '&page=' + i : '?page=' + i %>" class="index-page <%= page == i ? 'active-page' : ''%>"><%= i %></a>
                                <% } %>
                            </div>
                        <% } %>
                    </h3>
                    <% if (page != 1 && flag != 1) { %>
                        <div class="button-cont">
                            <button onclick="remove()" class="remove"><i class="fas fa-minus-circle"></i> Remove this picture</button>
                        </div>
                    <% } %>
                </div>
                <div class="column">
                    <div class="card border-light mb-3">
                        <div class="image-btn-cont"></div>
                            <% if (flag != 1) { %>
                            <a href="/profile/edit"><i class="fas fa-pen-square pen-info"></i></a>
                             <% } %>
                            <div class="card-header">Personal Info</div>
                            <div class="card-body">
                                <h5 class="card-title">Last name</h5>
                                <p class="card-text"><%= user.fname %></p>
                                <h5 class="card-title">Username</h5>
                                    <p id="name" class="card-text"><%= user.username %></p>
                                <h5 class="card-title">Bio</h5>
                                    <p class="card-text"><%= user.bio %></p>
                                <h5 class="card-title">Gender</h5>
                                    <p class="card-text"><%= user.gender %></p>
                                <h5 class="card-title">Orientation</h5>
                                    <p class="card-text"><%= user.orientation %></p>
                                <h5 class="card-title">Tags</h5>
                                    <p class="card-text">#<%= user.tags.join(' #') %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p id="viewer" style="visibility: hidden;"><%= typeof viewer != 'undefined' ? viewer.username : ''%></p>
<script>
    function isMobileDevice() {
            return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
    }

    function remove() {
        if (!confirm("Do you want to remove this picture?")) {
            return
        }
        page = window.location.href[window.location.href.length - 1];
        if (isMobileDevice() == true) {
            fetch('https://api.ipify.org/?format=json')
                .then(results => results.json())
                .then(data => window.location = 'http://84.198.113.229:5000/photos/remove?photo=' + page)
        } else {
            window.location = 'http://localhost:5000/photos/remove?photo=' + page;
        }
    }

    let rating = document.querySelector(".rating").innerHTML;
    document.querySelector(".stars-inner").style.width = rating + '%';

    var user = document.querySelector("#name").innerHTML;
    socket.emit('login', user);

    var viewer = document.querySelector("#viewer").innerHTML;
    if (viewer != '') {
        socket.emit('viewed', viewer, user);
    }

    socket.on('notif', (notif, user, user2) => {
        if (document.querySelector('#' + user) == null) {
            $("#here").append(
            '<div id="' + user + '" class="alert alert-dismissible alert-primary" style="font-size: 15px;" role="alert">' + notif +
            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
            '<span aria-hidden="true">&times;</span>' +
            '</button></div >');
        }
    });
</script>